<h1>Sign In </h1>

<br>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%=form_tag('/signin', method: "post") do%>
<%= label_tag :email %>
<%= text_field_tag :email %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag "Sign In" %>
<% end %>

<br><br>

<%= link_to "Not a member? Sign up!", new_user_path %>
