<%= form_with(model: @user, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :base_salary %>
    <%= form.number_field :base_salary, id: :user_base_salary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :user_bio, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :headshot %>
    <%= form.file_field :headshot, id: :user_headshot%>
  </div>

  <!-- New: for creating via a URL -->
  <div class="field">
    <label>Or enter a URL:</label>
    <%= image_tag(@user.headshot_url) if @user.headshot? %>
    <%= form.text_field :remote_headshot_url %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </div>
<% end %>
