<%= form_with(model: @user, local: true) do |form| %>
  <div class="field">
    <%= form.label :base_salary %>
    <%= form.number_field :base_salary, id: :user_base_salary %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :user_bio %>
  </div>

  <div class="field">
    <%= form.label :headshot %>
    <%= form.file_field :headshot, id: :user_headshot %>
  </div>

  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
