<h1>Editing User</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :base_salary %>
    <%= form.number_field :base_salary, id: :user_base_salary %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :user_bio %>
  </div>

  <div class="field">
    <%= form.label :headshot %>
    <%= form.file_field :headshot, id: :user_headshot %>
  </div>

  <div class="field">
    <label>Or enter a URL:</label>
    <%= image_tag(@user.headshot_url) if @user.headshot? %>
    <%= form.text_field :remote_headshot_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @user %> |
<%= link_to 'Home', audition_requests_path %>
