<p id="notice"><%= notice %></p>

<h1>Actors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Past Roles</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <% user.roles.each do |role| %>
        <td><%= "#{role.name} in '#{role.production.title}'" %><br></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if User.current_user_actor?(session[:id]) %>
  <%= link_to 'Home', '/audition_requests' %>
<%else%>
  <%= link_to 'Home', productions_path %>
<% end %>
