<h1>Create a Profile</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=form-group>
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class: "form-control" %>
  </div>

  <div class=form-group>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password_digest, class: "form-control" %>
  </div>

  <div class=form-group>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_digest, class: "form-control" %>
  </div>

  <div class=form-group>
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: "form-control" %>
  </div>

  <div class="field">
    <%= label_tag "Are you...?" %>
    <%= form.label :studio, "With a studio" %>
    <%= form.radio_button :is_studio, "1", id: "studio" %>
    <%= form.label :actor, "An actor" %>
    <%= form.radio_button :is_studio, "0", id: "actor" %>
  </div>
  <br><br>
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
