<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Base salary:</strong>
  <%= @user.base_salary %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>


<%if User.current_user_actor?(session[:id]) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Home', '/audition_requests' %>
<%else%>
  <%= link_to 'All Actors', users_path %> |
  <%= link_to 'Home', productions_path %>
<% end %>
