<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<%= image_tag(@user.headshot.thumb.url, alt: 'Headshot') unless @user.headshot.blank? %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Base salary:</strong>
  <%= @user.base_salary %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p><strong>Past Role(s):</strong></p>
<% @user.roles.each do |r| %>
  <li><%= "#{r.name} in '#{r.production.title}'" %></li>
<% end %>
</ul>
<br><br>

<%if User.current_user_actor?(session[:id]) %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Home', audition_requests_path %>
<%else%>
  <%= link_to 'All Actors', users_path %> |
  <%= link_to 'Home', productions_path %>
<% end %>
