<h1><%= @production.title %></h1>
<h2>Request that actors audition for the roles</h2>

<%= form_tag("/productions/#{@production.id}/assign_auditions", method: "post") %>
 <% @production.roles.each do |role| %>
  <%= label_tag role.name %>
  <%= collection_select(role.name, :actor_id, @actors, :id, :name, include_blank: true) %> <br><br>
<% end %>
<%= submit_tag "Request Auditions" %>

<br><br>

<%= link_to "Back", "/productions/#{@production.id}/assign_roles" %>
