<h1>Editing Production</h1>

<%= form_for @production do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :production_title %>
  </div>

  <div class="field">
    <%= form.label :production_type %>
    <%= form.text_field :production_type, id: :production_production_type %>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.number_field :budget, id: :production_budget %>
  </div>

  <div class="field">
    <%= form.label :date_begin %>
    <%= form.date_select :date_begin, id: :production_date_begin %>
  </div>

  <div class="field">
    <%= form.label :date_end %>
    <%= form.date_select :date_end, id: :production_date_end %>
  </div>

  <br><br>



  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<%= link_to 'Back', productions_path %>
