
<style>
th, td {
    padding: 10px;
}
</style>

<p id="notice"><%= notice %></p>

<h1><%= @user.name %> Productions</h1>
<br><br><br>
<table>
  <thead cellspacing="5">
    <tr>
      <th>Title</th>
      <th>Production type</th>
      <th>Initial Budget</th>
      <th>Remaining Budget</th>
      <th>Roles Cast</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do |production| %>
      <tr>
        <td><%= link_to production.title, production %></td>
        <td><%= production.production_type %></td>
        <td><%= number_to_currency(production.budget, precision: 0) %></td>
        <td><%= number_to_currency(production.remaining_budget, precision: 0) %></td>
        <td><%= "#{production.filled_roles.size} / #{production.roles.size}" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production', new_production_path %> |
<%= link_to 'All Actors', actors_path %><br><br>
<%= button_to "Sign Out", "/signout" %>
