<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @production.title %>
</p>

<p>
  <strong>Production type:</strong>
  <%= @production.production_type %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @production.studio.name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @production.budget %>
</p>

<p>
  <strong>Date begin:</strong>
  <%= @production.date_begin %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @production.date_end %>
</p>

<p>
  <strong>Roles cast:</strong>
  <%= "#{@production.filled_roles.size} / #{@production.roles.size}" %>
</p>

<% if @production.empty_roles.empty? %>
  <%= link_to 'Reassign Roles', "/productions/#{@production.id}/assign_roles" %>
<% else %>
  <%= link_to 'Cast Roles', "/productions/#{@production.id}/assign_roles" %>
<% end %>

<br><br>

<%= link_to 'Edit Production', edit_production_path(@production) %> |
<%= link_to 'Delete Production', @production, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', productions_path %>
