<style>
th, td {
    padding: 10px;
}
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @production.title %>
</p>

<p>
  <strong>Production type:</strong>
  <%= @production.production_type %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @production.studio.name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= number_to_currency(@production.budget, precision: 0) %>
</p>

<p>
  <strong>Remaining Budget:</strong>
  <%= number_to_currency(@production.remaining_budget, precision: 0) %>
</p>

<p>
  <strong>Date begin:</strong>
  <%= @production.date_begin %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @production.date_end %>
</p>

<p>
  <strong>Roles cast:</strong>
  <%= "#{@production.filled_roles.size} / #{@production.roles.size}" %>
</p>

<% if @production.has_roles %>
  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th>Actor</th>
        <th>Salary</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @production.roles.each do |r| %>
        <tr>
          <td><%= r.name %></td>
          <% if r.actor %>
            <td><%= r.actor.name %></td>
            <td><%= number_to_currency(r.actor.salary(@production.production_type), precision: 0) %></td>
          <% else %>
            <td><%= link_to 'Cast Role', "/productions/#{@production.id}/assign_roles" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br><br>

<% if @production.empty_roles.empty? && @production.has_roles %>
  <%= link_to 'Reassign Roles', "/productions/#{@production.id}/assign_roles" %>
<% end %>

<br><br>
<%= link_to "Add a New Role", new_role_path %> <br><br>
<%= link_to 'Edit Production', edit_production_path(@production) %> |
<%= link_to 'Delete Production', @production, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', productions_path %>
